<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css" />
    <title>Capture Job Description</title>
</head>
<body>
    <!-- navigation desktop -->
    <nav id="desktop-nav">
    </nav>

    <!-- capture-job-container -->
    <div class="capture-job-container">
        <form action="/capture-job-description" method="post">
            <h1>Capture Job Description</h1>
            <span>Enter the job description</span>
            
            <!-- Job Description Input -->
            <label for="jobdescription">Job Description:</label>
            <textarea id="jobdescription" name="jobdescription" rows="30" cols="50"></textarea>
            <button type="submit">Capture</button>
        </form>
    </div> <!-- capture-job-container -->

    <!-- footer -->
    <footer>
    </footer>

    <!-- script -->
    <script src="/js/commonelements.js"></script>
</body>
</html>