<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resume Updates</title>
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
    
    <div class="resumes">
        
        <!-- current resume -->
        <div id="currentresume">
            
        </div> <!-- current resume -->

        <!-- new resume box -->
        <div>
            <form action="/capture-resume" method="post">
                <!-- textbox -->
                <label for="resume">Job Description:</label>
                <input type="text" id="resume" name="resume" placeholder="Write your updated resume here...">

                <!-- save button -->
                <button id="save-btn" onclick="captureResume()">Save</button>
            </form>
        </div> <!-- new resume box -->

    </div> <!-- resumes -->
    
    <script src="/js/commonelements.js"></script>
</body>
</html>