<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css" />
    <title>Dashboard</title>
</head>
<body>

    <!-- navigation desktop -->
    <nav id="desktop-nav">
    </nav>


    <div class="">
        <h1>Dashboard</h1>
        <p>Welcome to your dashboard. Here you can manage your resume, view your applications, and manage your account settings.</p>

        <!-- blocks -->
        <div class="options-block">
            <div class="capture-resume">
                <h2>Update your resume</h2>
                <form action="/capture-resume" method="get"></form>
                    <button type="submit">Capture</button>
                </form>
            </div><!-- capture-resume -->

            <div class="generate-resume">
                <h2>Generate Resume From a New Job Description</h2>
                <form action="/capture-job-description" method="get">
                    <button type="submit">Generate</button>
                </form>
            </div><!-- generate-resume -->

            <div>
                <h2>Generate Cover Letter</h2>
                <form action="/capture-cover-letter-description" method="get"></form>
                    <button type="submit">Generate</button>
                </form>
            </div>

            <div>
                <h2>Settings</h2>
                <form action="/settings" method="get"></form>
                    <button type="submit">Generate</button>
                </form>
            </div>

        </div>
    </div>

    <!-- footer -->
    <footer>
    </footer>

    <script src="/js/commonelements.js"></script>
</body>
</html>