<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css" />
    <title>Download Resume</title>
</head>
<body>
    <!-- navigation desktop -->
    <nav id="desktop-nav">
    </nav>

    <div class="title">
        <h1>Download Resume</h1>
        <p>Choose a download option below</p>
    </div>


    <div class="download">
        <h1>Your CV is ready</h1>
        <a href="/download-cv"><button>Download CV</button></a>
    </div>

    <div class="download">
        <h4>Regenerate if something doesn't seem right...</h4>
        <a href="/regenerate-and-download"><button>Regenerate CV</button></a>
    </div>

    <!-- footer -->
    <footer>
    </footer>

    <script src="/js/commonelements.js"></script>
</body>
</html>