<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css" />
    <title>Download</title>
</head>
<body>
    <!-- navigation desktop -->
    <nav id="desktop-nav">
    </nav>

    <div>
        Regenerate if something doesn't seem right...
        <h2>Regenerate from Last Job description</h2>
        <a href="/regenerate-cover-letter-from-last"><button>Regenerate</button></a>
    </div>

    <div>
        Regenerate if something doesn't seem right...
        <h2>Regenerate Cover Letter From Resume</h2>
        <a href="/regenerate-cover-letter"><button>Regenerate</button></a>
    </div>

    <div>
        <h1>Your Cover Letter is ready</h1>
        <a href="/download-cover-letter"><button>Download Cover Letter</button></a>
    </div>
    

    <!-- footer -->
    <footer>
    </footer>

    <script src="/js/commonelements.js"></script>
</body>
</html>