<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css" />
    <title>Download</title>
</head>
<body>
    <!-- navigation desktop -->
    <nav id="desktop-nav">
    </nav>

    <h1>Your CV is ready</h1>
    <a href="/download-cv"><button>Download CV</button></a>

    <!-- footer -->
    <footer>
    </footer>

    <script src="/js/commonelements.js"></script>
</body>
</html>