<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    <link rel="stylesheet" href="../static/styles/style.css" />
    <!-- <link rel="stylesheet" href="../styles/mediaqueries.css" /> -->

</head>
<body>
    <!-- navigation desktop -->
    <nav id="desktop-nav">
    </nav>


    <div class="toggle-container">
            <div class="box">
                <h1>Hello, Friend!</h1>
                <p>Register with your personal details to use all of site features</p>
                <button id="register" onclick="loadCreateUserPage()">Sign Up</button>
            </div> <!-- box -->
            
            <div class="box">
                <h1>Welcome Back!</h1>
                <p>Enter your personal details to use all of site features</p>
                <button id="login" onclick="loadLoginPage()">Sign In</button>
            </div> <!-- box -->
            
    </div> <!-- toggle-container -->

    <!-- Contact details-->
    <section id="contact">
    </section>

    <!-- footer -->
    <footer>
    </footer>

    <!-- <script src="../scripts/script.js"></script> -->
    <script src="../static/scripts/commonelements.js"></script>
    <script src="../static/scripts/home.js"></script>
</body>
</html>