<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    <link rel="stylesheet" href="/css/style.css" />
    <!-- <link rel="stylesheet" href="../styles/mediaqueries.css" /> -->

</head>
<body>
    <!-- navigation desktop -->
    <nav id="desktop-nav">
    </nav>

    <div class="title">
        <h1>Sign In</h1>
        <span>Use your email and password</span>
    </div>
    
    <div class="container" id="container">
        <div class="form-container">


            <form class="form-center" action="/login" method="post">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required
                placeholder="Email">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required
                placeholder="Password">
                <!-- Submit Button -->
                <button type="submit">Login</button>
            </form>


        </div>
    </div>

    <!-- Display any login errors -->
    <div th:if="${loginError}" class="error">
        <p th:text="${loginError}">Invalid login credentials</p>
    </div>

    <!-- footer -->
    <footer>
    </footer>

    <script src="/js/commonelements.js"></script>
</body>
</html>