<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css" />
    <title>Capture Job Description</title>
</head>
<body>
    <!-- navigation desktop -->
    <nav id="desktop-nav">
    </nav>

    <div>
        <h2>Settings</h2>
    </div>

    <!-- footer -->
    <footer>
    </footer>

    <!-- script -->
    <script src="/js/commonelements.js"></script>
</body>
</html>